<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
    var socket = io({ autoConnect: false,
    query: {"token": localStorage.getItem('auth_token')}});
    console.log(socket)
    </script>

    <script type="text/javascript" src="../javascripts/login.js"></script>
    <script type="text/javascript" src="../javascripts/navigationbar.js"></script>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="tutorial">Tutorial</a>
      <a href="gamelogs">Game Logs</a>
      <a href="login" class="login" id="login">Login</a>
      <a href="/" class="login" id="logout">Logout</a>
      <a href="register" class="register">Register</a>
    </div>
    <div class="container">
      <form class="login-form" id="login-form" action="/users/login" method="post">
        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button type="submit">Login</button>
      </form>
      
    <p id="error-message"></p>
    </div>
  </body>
</html>