<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="tutorial">Tutorial</a>
      <a href="gamelogs">Game Logs</a>
      <a href="login" class="login">Login</a>
      <a href="register" class="register">Register</a>
    </div>

    <div class="container">
      <form class="register-form" action="#" method="post">
        <h2>Register</h2>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your desired username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your desired password">
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>